<%- include('partials/head.ejs') %>

    <body class="body-details">
        <%- include('partials/navbar.ejs') %>

            <div class="container">
                <h1 class="text-center m-5 h1-details">Details <%= name%>
                </h1>
                <hr>
                <h3>
                    State: <%= data.state%>
                </h3>
                <h3>About:

                    <%= data.description%>
                </h3>

                <% if (data.img) { %>
                    <img src="data.img" alt="">

                    <%}%>

            </div>

    </body>

    </html>