<%- include('partials/head.ejs') %>

    <body class="body-details">
        <%- include('partials/navbar.ejs') %>
            <div class="container-fluid p-0">

                <div class="d-flex flex-column justify-content-center jumbotron">
                    <h1 class="p-5 h1-details">
                        <%=data.placeName%>
                    </h1>
                </div>
            </div>



            <div class="container ">

                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col col-md-8">
                    </div>
                    <div class=" col col-md-4">
                        <button class="btn btn-outline-danger m-4">Delete Destination</button>
                    </div>
                </form>




                <div class="col-12">
                    <div class="d-flex flex-column justify-content-center align-items-center m-5">
                        <svg class="location-svg m-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path
                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>

                        <h2 class="mb-3 location-text">
                            <%= data.city%>, <%= data.state%>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-12 col-xxl-6">
                    <% if (data.img) { %>
                        <img class="img-fluid mb-xl-4 mx-md-5 img-wide" src="<%=data.imgWide%>" alt="">
                        <%}%>
                </div>
                <div class="col">
                    <div class="m-5 text-center">
                        <h2 class="description-text">
                            <%= data.description%>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items- center text-center">

                <a href="/mexico/<%= id %>/edit"
                    class="btn btn-lg btn-outline-success text-nowrap col-6 col-sm-4 col-xl-2 m-1 m-md-3 m-l-4 link-edit">
                    Edit Destination
                </a>

                <a href="/mexico"
                    class="btn btn-lg btn-outline-secondary text-nowrap col-6 col-sm-4 col-xl-2 m-1 m-md-3 m-l-4 link-backToMexico">
                    Back to Destinations
                </a>
            </div>
            </div>

    </body>

    </html>