<%- include('partials/head.ejs') %>

    <body class="body-new">
        <%- include('partials/navbar.ejs') %>

            <div class="container text-center container-new">
                <form action="/" method="post">
                    <h1 class="text-center pt-5 pb-3 h1-new">Edit <%= placeName %>
                    </h1>
                    <a href="/mexico/<%= id %>"
                        class="justify-content-center link-backToDetails my-4 mx-auto mt-3">Back</a>
                    <div class="row justify-content-md-center">

                        <div class="col-md-10 col-xl-8">
                            <div class="input-group input-group-lg mb-3 pt-3">
                                <span class="input-group-text " id="basic-addon1">Place to visit</span>
                                <input type="text" class="form-control text-reset" value="<%= placeName %>"
                                    aria-label="Place to visit" aria-describedby="basic-addon1" name="placeName">
                            </div>
                        </div>
                        <div class="col-md-10 col-xl-8">
                            <div class="input-group input-group-lg pt-3">
                                <span class="input-group-text">Closest city and state</span>
                                <input type="text" aria-label="Closest city" class="form-control" value="<%= city %>"
                                    name="city">
                                <input type="text" aria-label="State" class="form-control" placeholder="Chiapas"
                                    name="state" value="<%= state %>">
                            </div>
                        </div>
                        <div class="col-md-10 col-xl-8">
                            <div class="input-group input-group-lg pt-3">
                                <span class="input-group-text">Description</span>
                                <textarea class="form-control text-update" aria-label="With textarea"
                                    name="description"><%= description %>
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-10 col-xl-8 mb-3">
                            <div class="input-group input-group-lg mb-3 pt-3">
                                <span class="input-group-text " id="basic-addon1">Image URL</span>
                                <input type="text" class="form-control" aria-label="Place to visit"
                                    aria-describedby="basic-addon1" name="img" value="<%= img %>">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <button class="btn btn-outline-secondary btn-lg m-3 col-6 col-md-3">Let's save it!</button>
                        </div>
                    </div>
                </form>
            </div>

    </body>

    </html>